 
            <div class="page-header">
                <h3 style="color:aliceblue">
                    <a ng-show="post.link" href="{{post.link}}">
                        {{post.title}}
                    </a>

                    <span ng-hide="post.link">
                        {{post.title}}
                    </span>
                    <a href="#/home">home</a>
                </h3>
            </div>

            <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
                <button class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></button>
                <span style="color:aliceblue">{{comment.upvotes}} - by {{comment.author}}</span>
                <span style="font-size:20px; margin-left:10px; color:aliceblue">
                    {{comment.body}}
                </span>
            </div>

            <form ng-submit="addComment()"
                 style="margin-top:30px; color:white">
                <h3>Add a new comment</h3>

                <div class="form-group">
                    <input type="text"
                    class="form-control"
                    placeholder="Comment"
                    ng-model="body"></input>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
             </form>
        