<!DOCTYPE html>
<html>
    <head>
        <title>FlapperNews!</title>
        
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style> .glyphicon-thumbs-up {cursor: pointer} </style>
    </head>

    <body ng-app="flapperNews" style="background-image: url('http://www.digitalplatforms.co.za/wp-content/uploads/2015/11/Website-Design-Background.png'); background-repeat:no-repeat; background-size:cover;">   
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                   <ui-view></ui-view>
                </div>
            </div>
    </body>

</html>
